<p>
    <%if message.user.avatar.blank?%>
        <img src="/assets/default_icon.png" alt="" class="default-icon">
     <%else%>
        <%= image_tag message.user.avatar.url,class: 'chat_icon'%>
    <%end%>
    <strong><%= message.user.name %></strong>
    <% if message.user_id == message.room.admin_user%>
    > <span class=""><%= message.content %></span>
    <%else%>
     <button class="btn btn-danger"><%= message.content %></button>
    <%end%>
</p>