 <%= flash[:notice] %>
 <div class="home-container">
  <% if @current_user.adult_flg == true %>
    <h1 class="text-center">ようこそ、お・じ・さ・ん</h1>
    <div class="image-container">
      <img src="/assets/oji_face.jpeg" alt="" class="home-image">
    </div>
  <% else %>
    <h1 class="text-center">ようこそ、希望に満ちた若者</h1>
    <div class="image-container">
      <img src="/assets/baby.jpeg" alt="" class="home-image">
    </div>
  <% end %>
 </div>