<h1>Chat Rooms</h1>
<%=link_to "チャット部屋登録",new_user_room_path(@current_user) %>
<ul>
    <% @rooms.each do |room| %>
        <li><%= link_to room.name, user_room_path(@current_user,room) %></li>
    <% end %>
</ul>
