// Place all the styles related to the auth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sample_ul{
    margin: 240px auto;
    list-style: none;
    padding: 0;
    background: rgba(155, 244, 245, 0.7);
    padding: 12px;
    li{
        font-weight: bold;
        padding: 12px;
        text-align: center;
    }
}

.p-form__group{
    text-align: center;
}

.cr-boundary{
    margin-top: 24px!important;
}

.file-btn__group{
    position: relative;
}

.file-btn{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    cursor: pointer;
}

.question{
    text-align: center;
    width: 350px;
    height: 480px;
    margin: 120px auto;
    overflow: hidden;
    img{
        width: 350px;
        object-fit: contain;
    }
}
.btn_group{
    display: flex;
    margin-top: 24px;
    justify-content: center;
}

.home-container{
    position: relative;
    padding: 40px 0;
    h1{
        font-weight: bold;
    }
}

.image-container{
    display: flex;
    justify-content: center;
}
.home-image{
    width: 80%;
}

.Image-uploader{
    padding-top: 140px;
}

.confirm-image{
    margin-top: 24px;
    margin-bottom: 24px;
    display: inline-block;
}


.home{
    padding: 3rem;
    margin: 3rem;
    @include mq(sp) {
        padding: 10px;
        width: 100%;
        margin: auto;
    }
    &-title{
        position: relative;
        padding: 10px 0;
        &__main{
            color: #333;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 50px;
                height: 2px;
                background: #333;
                left: 30%;
                top: 20px;
                @include mq(sp) {
                    height: 1px;
                    left: 0px;
                    width: 40px;
                }
            }
            &::before{
                content: '';
                position: absolute;
                width: 50px;
                height: 2px;
                background: #333;
                right: 30%;
                top: 20px;
                @include mq(sp) {
                    height: 1px;
                    right: 0px;
                    width: 40px;
                }
            }
        }
        &__sub{
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);

        }
    }
    &-container{
        margin: auto;
        height: auto;
        padding: 15px;
        overflow: hidden;
        position: relative;
        margin-top: 48px;
       &__image{
        opacity: .1;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        @include mq(sp) {
            left: -145%;
        }

       }
       &__inner{
        width: 100%;
        height: auto;
        padding: 10px;
        
       }
    }
}
ol.sample1{
    counter-reset:list;
    list-style-type:none;
    font: 14px/1.6 'arial narrow', sans-serif;
    padding:0;
  }
  ol.sample1 li{
    position:relative;
    padding: 0 0 0 20px;
    margin: 7px 0 7px 0px;
    font-weight: bold;
    font-size:14px;
    line-height: 30px;
    border-bottom: dashed 1px #F6A38B;
  }
  ol.sample1 li:before{
    counter-increment: list;
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #F6A38B;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  ol.sample1 li:after{
    content: "";
    display: block;
    position: absolute;
    left: 6px;
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid #fff;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }