// Place all the styles related to the auth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sample_ul{
    margin: 240px auto;
    list-style: none;
    padding: 0;
    background: rgba(155, 244, 245, 0.7);
    padding: 12px;
    li{
        font-weight: bold;
        padding: 12px;
        text-align: center;
    }
}

.p-form__group{
    text-align: center;
}

.cr-boundary{
    margin-top: 24px!important;
}

.file-btn__group{
    position: relative;
}

.file-btn{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    cursor: pointer;
}

.question{
    text-align: center;
    width: 350px;
    height: 480px;
    margin: 120px auto;
    overflow: hidden;
    img{
        width: 350px;
        object-fit: contain;
    }
}
.btn_group{
    display: flex;
    margin-top: 24px;
    justify-content: center;
}

.home-container{
    position: relative;
    padding: 40px 0;
    h1{
        font-weight: bold;
    }
}

.image-container{
    display: flex;
    justify-content: center;
}
.home-image{
    width: 80%;
}