<div class="home">
<div class="home-title">
  <h2 class="text-center home-title__main">What is 「Ojitalk」</h2>
  <span class="home-title__sub">Ojitalkとは？</span>
</div>
  <div class="home-container">
    <%= image_tag asset_path('hayasi.jpg'), class: 'home-container__image' %>
    <div class="home-container__inner">
        <p>本サービスはおじさんが居酒屋で若者と２〜３分盛り上がるために作られたチャットアプリです。</p>
        <p>おじさんと若者の双方のコミュニケーションを少しでも活性化させるために開発されました。</p>
        <p>若者言葉をおじさんでもわかる用語に変換してチャットができるサービスです。</p>
        <p>少し話題になった「おじさん構文」の一つである不必要な顔文字も削除してくれます。</p>
        <p>逆におじさんの言葉も若者がわかるように変換してくれます。</p>
        <p>おじさん同士で使用しても普通のチャットしてるだけになるのでその場合はLINEを使用してください。</p>
        <p>以下、登録後の使用方法です</p>
        <ol class="sample1">
            <li>トークルームを作成、または参加したいトークルームにリクエストボタンを押す。</li>
            <li>トークルーム作成者がそのルームの管理者になります。</li>
            <li>管理者のみがリクエストを承認できます。</li>
            <li>新たに変換したい用語があれば「登録単語」から追加できます。</li>
         </ol>
    </div>
  <div class="gif-wrapper">
    <span class="gif-young">▼若者表示▼</span>
    <span class="gif-oji">▼おじ表示▼</span>
  </div>
  </div>
    <a href="https://oji-app-s3.s3.ap-northeast-1.amazonaws.com/uploads/user/avatar/22/top_movie.gif" target=_blank><img src="https://oji-app-s3.s3.ap-northeast-1.amazonaws.com/uploads/user/avatar/22/top_movie.gif" alt="" class="home-gif"></a>
  <div class="mt-3">
    <a class="btn btn-primary m-auto d-block w-25" href="/login">Login</a>
    <a class="d-block m-3 text-center" href="/signup">登録済みでない方はコチラ</a>
  </div>
</div>